html {
 font-size: 62.5%;
 scroll-behavior: smooth;
 background-color: rgb(231, 225, 213);
}
:root {
 --black: rgb(5, 5, 5);       
 --white: rgb(247, 247, 247);        
 --accent: rgb(235, 219, 190);
 --hamburger-bg: rgb(207, 190, 158);   
 --light-grey: rgb(238, 238, 238);   

 --font-text: 'Montserrat', sans-serif;
 --font-handwrite: 'Love Light', cursive;
 --font-heading: 'Playfair Display', serif;
}
* {
 margin: 0; padding: 0;
 box-sizing: border-box;
}

/* odkazy a tlačítka */
.btn {
 background: none;
 border: none;
}
.icons {
 font-size: 2.7rem;
 font-weight: 300;
}
/* nadpisy a odstavce */
h3 {
 font-size: 3rem;
 font-weight: 300;
 font-family:  var(--font-heading);
 text-align: center;
}
.article {
 padding: 20px 20px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 font-size: 1.8rem;
 font-weight: 300;
 font-family: var(--font-text);
 line-height: 2.8rem;
 text-align: center;
 background-color: var(--hamburger-bg);
 border-radius: 20px;
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.underline {
 height: 5px;
 width: 180px;
 background-color: var(--hamburger-bg);
}

/* --------------- header ---------------*/
header {
 height: 80px;
 width: 100%;
 padding: 0 5%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: fixed;
 z-index: 1000;
 transition: 0.3s ease;
}
.header.scrolled {
 padding: 0 7%;
 background-color: var(--white);  
 box-shadow: 0 4px 15px rgb(0, 0, 0, 0.5);
}

.logo {
 color: var(--black);
 font-size: 4.5rem;
 font-weight: 100;
 font-family: var(--font-handwrite);
 text-decoration: none;
}

nav {
 width: 80vw;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 position: fixed;
 top: 0;
 right: -100%;
 background-color: var(--hamburger-bg);
 transition: 0.5s ease;
}
nav.active {
 right: 0;
 box-shadow: -4px 0 15px rgba(0, 0, 0, 0.3);
}
.close-icon {
 font-size: 3.5rem;
 position: absolute;
 top: 30px;
 right: 30px;
}
.nav-list {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 list-style-type: none;
 gap: 25px;
}
.nav-link {
 color: var(--black);
 font-size: 2rem;
 font-weight:  300;
 font-family: var(--font-text);
 text-decoration: none;
}


/* --------------- sekce hero -----------------*/ 
#hero {
 height: 85vh;
 margin-bottom: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background: linear-gradient(to bottom, rgba(241, 205, 143, 0.95), rgba(245, 222, 179, 0.3)),
              url('images/hero.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 clip-path: ellipse( 200% 100% at 50% 0%);
}

#hero h1 {
 margin-bottom: 0.5rem;
 font-size: 3.7rem;
 font-family: var(--font-heading);
 font-weight: 500;
 color: var(--black);
}
#hero h2 {
 font-size: 2.2rem;
 font-family: var(--font-text);
 font-weight: 300;
 color: var(--black);
}


/* --------------- sekce nabídka ------------ */
#offer {
 padding: 70px 5%;
}
.offer-images {
 height: 550px;
 margin: 0 20px;
 display: flex;
 align-items: center;
 flex-direction: row;
 gap: 25px;
 overflow-x: auto;
 scroll-snap-type: x mandatory;
}
.offer-image {
 height: 450px;
 flex: 0 0 auto;
 scroll-snap-align: start;
}
.offer-image img {
 height: 100%;
 width: auto;
 display: block;
 object-fit: cover;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.555);
}
.offer-images::-webkit-scrollbar {
  display: none;                      
}

.offer-h-wraper {
 padding: 0 5%;
 margin-bottom: 45px;
 display: flex;
 justify-content: center;
 align-items:  center;
 flex-direction: column;
}
.offer-h-wraper h3{
 font-size: 3rem;
 font-weight: 300;
 font-family:  var(--font-heading);
}

.offer-p-wraper {
 padding: 0 5%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 20px;
}
.offer-article {
 padding: 20px 20px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 font-size: 1.8rem;
 font-weight: 300;
 font-family: var(--font-text);
 line-height: 2.5rem;
 text-align: center;
 background-color: var(--hamburger-bg);
 border-radius: 20px;
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


/* --------------- sekce o nás ---------------*/
#about {
 height: auto;
 padding: 70px 5%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
 gap: 40px;
 border-bottom: 1px solid black;
 border-top: 1px solid black;
}

.about-img-wrapper {
 height: auto;
}
.about-img-wrapper img {
 width: 90vw;
 height: auto;
 display: block;
 object-fit: cover;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.555);
}

.about-content-wrapper {
 margin-bottom: 45px;
 display: flex;
 flex-direction: column;
 gap: 35px;
}
.about-h-wrapper {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.about-article {
 background-color: var(--light-grey);
}

/* --------------- responzivita ------------*/ 

@media (min-width: 550px) {
    #hero h1 {
        font-size: 4.5rem;
    }
    #hero h2 {
        font-size: 2.2rem;
    }
}


@media (min-width: 1000px) {
    
    h3{
        font-size: 4rem;
    }
    .underline {
        width: 210px;
    }

    /*header*/
    .menu-btn,
    .close-btn {
        display: none;
    }
    nav { 
        position: static;
        width: auto;
        height: auto;
        background: transparent;
        display: block;
        box-shadow: none;
        right: auto;
        top: auto;
        transition: none;
    }
    .nav-list {
        flex-direction: row;
        gap: 40px;
    }
    a.nav-link {
        font-size: 1.8rem;
    }

    /*hero*/
    #hero h1 {
        font-size: 6rem;
    }
    #hero h2 {
        font-size: 2.5rem;
    }

    /*nabídka*/
    .offer-images {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .offer-p-wraper {
        flex-direction: row;
        justify-content: stretch;
        align-items: stretch;
    }
    .offer-h-wraper h3 {
        font-size: 4rem;
    }
    .offer-article {
        flex: 1;
    }

    /*about*/
    #about {
        flex-direction: row;
    }
    .about-article {
        height: 450px;
    }
    .about-img-wrapper img {
        margin-top: 50px;
        height: 450px;
        width: auto;
    }
}
@media (max-width: 1400px) {
    #about {
        flex-direction: column;
    }
}